#root {
    width: 100%;
    min-height: 100vh;

    background-color: #ccc;


    #menu-btn {
        position: fixed;
        width: 60px;
        height: 60px;
        top: 0;
        right: 0;
        background-color: #000;



        &::before,
        &::after {
            content: ""; //enélkül nem fog megjelenni a before+after "elemem"
            position: absolute;

            right: 10px;
            width: 40px;
            height: 4px;

            background: #fff;

            transition: top 500ms, transform 500ms;
        }

        &::before {
            top: 20px;
        }

        &::after {
            top: 35px;
        }
        
    }
    
    &.menu-opened {
        background-color: #fff;
        
        #menu-btn{
            background-color: darkslategrey;
        
            &::before {
                top: 28px;
                transform: rotate(45deg);
            }
        
            &::after {
                top: 28px;
                transform: rotate(-45deg);
            }
            
        }
    }
}